@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.b1{
    background: #40050b;
    background: -webkit-linear-gradient(to right, #9b0c0c, #900303); 
    background: linear-gradient(to right, #562828, #901a1a); 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: 40px;

}

.sem {
      width:80%;    
      height: 5vh;
      border-radius: 10px;
      margin: 5px;
      outline: none;
      border: none;
      padding-left: 15px;
      background-color:#00000023;
      border-bottom: 5px transparent;
} 
.seem{
    background-color: rgb(68, 68, 68);
    color:#fff;
    border-radius: 5px;
    width:8rem;
    margin-top: 20px;
}
.hed{
    font-family:'Kanit', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.fl1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:black;
    justify-content: center;
    height:70vh;
    border-radius:20px;
    width:25vw;
    gap:0.3rem;
    color: rgb(96, 96, 96);
    font-family:'Kanit', sans-serif;
    box-shadow:
2.8px 2.8px 3.2px rgba(0, 0, 0, 0.02),
6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
100px 100px 80px rgba(0, 0, 0, 0.07);

}
.fl1 input{
    font-family:'Kanit', sans-serif;
    border:.5px solid grey;
    color: gray;
    height: 1.5rem;

}

.fl1 input:hover{
    color:gray;
}
.cont{
height:59vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 2rem;
}